@model ProdutoModel

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/carrousel.css" />
    <link rel="stylesheet" href="~/css/modal.css" />
</head>


<div id="Main">
    <div id="modal">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <!-- Adicionado enctype -->
            <div class="modal-body">
                <div class="img-div">
                    <div id="image-preview" style="width: 200px; height: 200px; border: 1px solid var(--main-green); border-radius:15px; display: flex; align-items: center; justify-content: center;">
                        <span>Imagem não carregada</span>
                    </div>

                    <div class="line-modal">
                        <label class="btn-modal" for="ImagemUrl">
                            <span>Adicionar</span>
                        </label>

                        <input type="file" id="ImagemUrl" name="ImagemUrl" style="display: none;" accept=".jpg,.jpeg,.png,.gif" onchange="showImage(event)" /> <!-- Adicionado name -->
                        <button type="button" onclick="removeImage()" class="btn-modal">Apagar</button>
                    </div>
                </div>

                <label for="Nome">Nome</label>
                <input type="text" class="input-modal" asp-for="Nome" required />

                <label for="Preco">Quantidade</label>
                <input type="number" step="1" class="input-modal" asp-for="Quantidade" required />

                <label for="Preco">Preço</label>
                <input type="number" step="0.01" class="input-modal" asp-for="Preco" required />

                <label for="Descricao">Descrição</label>
                <textarea class="text-modal" asp-for="Descricao" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-modal">Salvar</button>
                <a asp-action="Index" class="btn-modals">Cancelar</a>
            </div>
        </form>

    </div>

</div>


<!-- JavaScript -->
<script>
    function showImage(event) {
        const file = event.target.files[0];
        const previewDiv = document.getElementById('image-preview');

        if (file && file.type.match('image.*')) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewDiv.innerHTML = `<img src="${e.target.result}" alt="Imagem Carregada" style="max-width: 100%; max-height: 100%;" />`;
            };
            reader.readAsDataURL(file);
        } else {
            previewDiv.innerHTML = '<span>Formato de imagem inválido</span>';
        }
    }

    function removeImage() {
        const previewDiv = document.getElementById('image-preview');
        const inputFile = document.getElementById('ImagemUrl');

        // Limpa o conteúdo da div de pré-visualização
        previewDiv.innerHTML = '<span>Imagem não carregada</span>';

        // Limpa o valor do input file para permitir o upload da mesma imagem novamente
        inputFile.value = '';
    }
</script>

@* 
<h2>Criar Novo Produto</h2>

<form asp-action="Criar" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" required />
    </div>

    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <textarea class="form-control" asp-for="Descricao" required></textarea>
    </div>

    <div class="form-group">
        <label for="Preco">Preço</label>
        <input type="number" step="0.01" class="form-control" asp-for="Preco" required />
    </div>

    <div class="form-group">
        <label for="ImagemUrl">URL da Imagem</label>
        <input type="file" class="form-control" asp-for="ImagemUrl" style="display:none;"
                       accept=".jpg,.jpeg,.png, .gif" onchange="validateFileType()"/>
    </div>


</form> *@