<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoAgricola | Produtos</title>
    <link rel="stylesheet" href="css/homevend.css">
    <link rel="stylesheet" href="css/responsiveHome.css">
    <link rel="shortcut icon" href="img/Logo.svg" type="image/x-icon">

</head>
<body>

    <div class="headerVendedor">
        <div id="logocontainer">
            <img src="img/Logo.svg" alt="Logo" id="logo">
            <p>EcoAgricola</p>
        </div>
        <a href="LoginVendedor.html" style="color: white; margin-right: 50px;">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>

    </div>

    <div id="containerAgricultor">
        <div id="SearchContainer">
            <a href="#cardline"><p>Produtos</p></a>
            <div class="map_search">
            </div>

        </div>
        <div class="line pad"></div>
        <div id="cardline">
            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>

            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>

            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>


            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>

            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>

            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>

            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button onclick="">Editar Produto</button>    
                </div>
            </div>

            <div id="card">
                <div id="imgcard">
                    <img src="img/produtos/borba.svg" alt="" id="item">
                </div>
                <div id="textc">
                    <h2>Unidade Alface</h2>
                    <div id="cardprice">
                        <p>Vendedor vendedor</p>
                        <span>R$ 5,00</span>
                    </div>
                    <button>Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>
            
    </div>
</body>
<script src="https://kit.fontawesome.com/d566b63b60.js" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<script src="js/perfil.js"></script>
</html>