@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/carrousel.css" />
</head>


<div id="main">
    <p class="first hidden">Início</p>
    <div class="line pad hidden"></div>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="~/img/banner/1.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="~/img/banner/2.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="~/img/banner/3.png" style="width:100%">
        </div>
    </div>
    <div id="SearchContainer">
        <a href="#card_agricultor"><p>Agricultores</p></a>
        <div id="box">
            <i class="fa-solid fa-magnifying-glass iconsearch"></i>
            <input type="text" name="Search" placeholder="Encontre o que precisa:" class="input_search">
        </div>
    </div>
    <div class="line pad"></div>
    <div id="card_agricultor">
        <div class="card">
            <a href="loja.html"><img src="~/img/agricultores/1.png" alt=""></a>
            <p>Orlando Saviero</p>
        </div>

        <div class="card">
            <img src="~/img/agricultores/2.png" alt="">
            <p>Renato Armandilho</p>
        </div>

        <div class="card">
            <img src="~/img/agricultores/3.png" alt="">
            <p>Ruvia Stravinski</p>
        </div>

        <div class="card">
            <img src="~/img/agricultores/4.png" alt="">
            <p>Rosa Mendes</p>
        </div>
    </div>
    <div id="SearchContainer">
        <a href="#cardline"><p>Produtos</p></a>
        <div id="box">
            <i class="fa-solid fa-magnifying-glass iconsearch"></i>
            <input type="text" name="Search" placeholder="Encontre o que precisa:" class="input_search">
        </div>
    </div>
    <div class="line pad"></div>
    <div id="cardline">
        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>

        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>

        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>

        <div id="card">
            <div id="imgcard">
                <img src="~/img/produtos/borba.svg" alt="" id="item">
            </div>
            <div id="text">
                <h2>Unidade Alface</h2>
                <div id="cardprice">
                    <p>Vendedor vendedor</p>
                    <span>R$ 5,00</span>
                </div>
                <button>Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>